---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Pattern from "../components/Pattern.astro";
import InfoPanel from "../components/InfoPanel.astro";
import FeaturePanel from "../components/FeaturePanel.astro";
import GrowthPanel from "../components/GrowthPanel.astro";
import PatternBanner from "../components/Pattern-Banner.astro";
import { getCollection } from "astro:content";
import Profile from "../components/Profile.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_TAGLINE } from "../consts";

let posts = [];

if (import.meta.env.ENVIRONMENT === "production") {
	posts = await getCollection("writing", ({ data }) => !data?.draft);
} else {
	posts = await getCollection("writing");
}

posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const random = Math.floor(Math.random() * posts.length);
const randomPost = posts[random];
console.log(randomPost.id);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div
				class="bg-[var(--color-light)] relative min-h-[calc(100svh-260px)] flex items-center justify-center"
			>
				<div
					class="container flex flex-col justify-center items-center text-center gap-y-[var(--space-m)] py-[var(--space-m)] md:py-[var(--space-l)] relative h-full"
					style=""
				>
					<h1
						class="heading-tagline !text-[250px] gradient-text px-[2px] md:px-[4px]"
						style="background-image: var(--color-gradient);"
					>
						404
					</h1>

					<div class="intro md:max-w-[450px] md:pb-[20px]">
						{SITE_DESCRIPTION}
					</div>

					<div class="">
						Want something random? Try this <a
							href={`/writing/${randomPost.id}`}>{randomPost.data.title}</a
						>
					</div>
				</div>
			</div>
		</main>
		<PatternBanner fill="rgba(0, 0, 0, 0.8)" />
	</body>
</html>

<script>
	// import Typewriter from 'typewriter-effect/dist/core';
	import splt from "spltjs";
	splt({});

	// var taglines = [
	//     'Leave it better than you found it',
	//     'Build better, build forward',
	//     'Elevate what you create',
	//     'Better by design',
	//     'Small steps, lasting impact',
	//     'Making good stuff gooder',
	//     'Making yesterday jealous of tomorrow'
	// ]

	// var app = document.querySelectorAll(".heading-tagline")[0];

	// var typewriter = new Typewriter(app, {
	//     loop: true,
	//     delay: 'natural',
	//     devMode: true
	// })

	// let index = 1;

	// startTyping(taglines[0]);

	// setInterval(() => {
	//     const randomTagline = taglines[index];
	//     startTyping(randomTagline);
	//     if (index <= taglines.length) {
	//         index = index + 1;
	//     }
	// }, 12000);

	// function startTyping(randomTagline) {
	//     typewriter
	//         .typeString(randomTagline)
	//         .pauseFor(6000)
	//         .start()
	//         .deleteAll()
	// }
</script>
