---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Pattern from '../components/Pattern.astro';
import InfoPanel from '../components/InfoPanel.astro';
import LatestCard from '../components/LatestCard.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Profile from '../components/Profile.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_TAGLINE, CURRENT_COMPANY, CURRENT_POSITION } from '../consts';

let posts = [];

if (import.meta.env.DEV && import.meta.env.DEV === "false") {
    posts = await getCollection("writing",
        ({ data }) => !data?.draft
    );
} else {
    posts = await getCollection("writing");
}

posts.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const random = Math.floor(Math.random() * posts.length);
const randomPost = posts[random];

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <div class="absolute left-[-612px] mx-auto top-[92px] opacity-[0.2] pointer-events-none">
                <Pattern></Pattern>
            </div>
            <div class="container grid pt-[32px] md:pt-[64px] pb-0 [--gutter:32px] md:[--gutter:3vh] [--grid-placement:4] md:[--grid-placement:12]" style="">
                <h1
                    class="heading-tagline col-span-full md:col-start-1 md:col-span-8 lg:col-span-7 md:row-start-1"
                    style="--max-width: 1260px"
                >
                    { SITE_TAGLINE }
                </h1>

                <Profile random="true" />

                <div class="profile__description center h3 lg:col-span-5 relative md:row-start-2 lg:row-start-2 lg:row-span-1">
                    {SITE_DESCRIPTION}
                </div>
            </div>
            <div class="container grid">
                <LatestCard />
            </div>
            <div class="container grid">
                <!-- <div class="bio__content standfirst">
                    <p>Working in design agencies and the private sector has given me a pretty good handle on user experience, and I've really learned to bake creativity into everything I do, it's just how I work. </p>
                    <p>You can check out my resume for the full story on my experience. Day-to-day, I'm a <span class="bg-black py-[0] leading-[1.75] inline-block text-white px-[8px]">{CURRENT_POSITION}</span> at <span class="bg-black py-[0] leading-[1.75] inline-block text-white px-[8px]">{CURRENT_COMPANY}</span>, and that means I get to dive into a whole range of different technologies and processes, which keeps things really interesting.</p>
                </div> -->
                <InfoPanel>
            </div>
            <!-- <section class="py-[80px]">
                <div class="container grid [--gutter:43px] [--grid-placement:1] md:[--grid-placement:12]">
                    <div class="col-span-full md:col-span-4 row-start-2 md:row-start-1">
                        <div class="flex flex-col gap-y-[24px] sticky top-[120px]">
                            <h3 class="h3">Can't decide?</h3>
                            <a
                                class="pb-[16px] pt-[18px] px-[24px] border border-solid w-fit hover:!no-underline hover:bg-black duration-300 ease-in-out transition-colors hover:text-white"
                                href={`/writing/${randomPost.id}/`}
                            >Click here for a Random Post</a>
                        </div>
                    </div>
                    <div class="col-span-full md:col-start-5 md:col-span-8 flex flex-col gap-y-[48px] row-start-1 md:row-start-1">
                        <div class="flex items-center justify-between">
                            <h2 class="h2">Latest Posts</h2>
                            <a class="relative" style="--delay: 0.5s" href="/writing">
                                View all
                            </a>
                        </div>
                        <div>
                            <ol class="flex flex-col gap-y-[32px]">
                                {
						            posts.slice(0,5).map((post, i) => (
                                    <li
                                        class=""
                                    >
                                            <div class="flex flex-col gap-y-[8px]">
                                                <div class="flex gap-x-[16px]">
                                                    <span>{getReadingTime(post.body)} min</span>
                                                </div>
                                                <div class="flex justify-between md:flex-col-reverse md:gap-[8px] lg:flex-row">

                                                    <div class="flex flex-col gap-y-[8px]">
                                                        <a class="text-[30px] tracking-[-0.02em] block" href={`/writing/${post.id}/`}>
                                                            <h4>{post.data.title}</h4>
                                                        </a>
                                                        <p class="opacity-[0.64] body-text">{post.data.description}</p>
                                                    </div>
                                                    <p class="date shrink-0">
                                                        <FormattedDate date={post.data.pubDate} />
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    ))
                                }
                            </ol>
                        </div>
                    </div>
                </div>
            </section> -->
		</main>
		<!-- <PatternBanner fill="rgba(0, 0, 0, 0.64)" /> -->
         <!-- <PatternBanner> -->
	</body>
</html>

<script>

    // import Typewriter from 'typewriter-effect/dist/core';
    import splt from 'spltjs';
    splt({});

    // var taglines = [
    //     'Leave it better than you found it',
    //     'Build better, build forward',
    //     'Elevate what you create',
    //     'Better by design',
    //     'Small steps, lasting impact',
    //     'Making good stuff gooder',
    //     'Making yesterday jealous of tomorrow'
    // ]

    // var app = document.querySelectorAll(".heading-tagline")[0];

    // var typewriter = new Typewriter(app, {
    //     loop: true,
    //     delay: 'natural',
    //     devMode: true
    // })

    // let index = 1;

    // startTyping(taglines[0]);

    // setInterval(() => {
    //     const randomTagline = taglines[index];
    //     startTyping(randomTagline);
    //     if (index <= taglines.length) {
    //         index = index + 1;
    //     }
    // }, 12000);

    // function startTyping(randomTagline) {
    //     typewriter
    //         .typeString(randomTagline)
    //         .pauseFor(6000)
    //         .start()
    //         .deleteAll()
    // }

</script>
