---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Pattern from '../components/Pattern.astro';
import InfoPanel from '../components/InfoPanel.astro';
import LatestCard from '../components/LatestCard.astro';
import { Image } from 'astro:assets';
import { getReadingTime } from '../utils/utils.mjs';
import PatternBanner from '../components/Pattern-Banner.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { getCollection } from 'astro:content';
import Profile from '../components/Profile.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_TAGLINE, CURRENT_COMPANY, CURRENT_POSITION } from '../consts';

let posts = [];

if (import.meta.env.DEV && import.meta.env.DEV === "false") {
    posts = await getCollection("writing",
        ({ data }) => !data?.draft
    );
} else {
    posts = await getCollection("writing");
}

posts.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const random = Math.floor(Math.random() * posts.length);
const randomPost = posts[random];

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <div class="absolute left-[-612px] mx-auto top-[92px] opacity-[0.2] pointer-events-none">
                <Pattern></Pattern>
            </div>
            <div class="bg-[var(--color-light)]">
                <div class="container md:min-h-[85dvh] grid py-[32px] md:py-[64px] [--gutter:32px] md:[--gutter:3vh] [--grid-placement:4] md:[--grid-placement:12]" style="">
                    <h1
                        class="heading-tagline col-span-full lg:col-span-7 md:row-start-1"
                        style="--max-width: 1260px"
                    >
                        { SITE_TAGLINE }
                    </h1>

                    <Profile random="true" />

                    <div class="profile__description center h3 lg:col-span-5 relative md:row-start-2 lg:row-start-2 lg:row-span-1">
                        {SITE_DESCRIPTION}
                    </div>
                    <InfoPanel>
                </div>
                <!-- <div class="container grid">
                    <LatestCard />
                </div> -->
            </div>
            <section class="py-[80px] md:py-[160px] text-white relative" style="background-color: var(--color-dark)">
                <div class="container flex flex-col gap-y-[64px] justify-center">
                    <!-- <div class="col-span-full md:col-span-4 row-start-2 md:row-start-1">
                        <div class="flex flex-col gap-y-[24px] sticky top-[120px]">
                            <h3 class="h3">Can't decide?</h3>
                            <a
                                class="pb-[16px] pt-[18px] px-[24px] border border-solid w-fit hover:!no-underline hover:bg-black duration-300 ease-in-out transition-colors hover:text-white"
                                href={`/writing/${randomPost.id}/`}
                            >Click here for a Random Post</a>
                        </div>
                    </div> -->
                    <!-- <div class="flex justify-center text-center"> -->
                        <!-- <h2 class="heading-tagline">Latest Posts</h2> -->
                        <!-- <a class="relative" style="--delay: 0.5s" href="/writing">
                            View all
                        </a> -->
                    <!-- </div> -->
                    <div>
                        <ol class="flex flex-col gap-y-[24px] md:gap-y-[32px]">
                            {
                                posts.slice(0,5).map((post, i) => (
                                <li
                                    class="flex justify-center text-center"
                                >
                                        <div class="flex flex-col items-center text-centergap-y-[8px]">
                                            {/* <div class="flex gap-x-[16px]">
                                                <span>{getReadingTime(post.body)} min</span>
                                            </div> */}
                                            <div class="flex justify-between md:flex-col-reverse md:gap-[8px] lg:flex-row">

                                                <div class="flex flex-col gap-y-[3px] md:gap-y-[5px]">
                                                    <FormattedDate date={post.data.pubDate} />
                                                    <a
                                                        data-link-title={post.data.title}
                                                        class="animated-link h1 h-[82px] relative group overflow-clip px-[10px]"
                                                        href={`/writing/${post.id}/`}
                                                    >
                                                        <span class="relative group-hover:translate-y-[-100%] transition-transform duration-700 ease-in-out delay-[0.05s]">
                                                            {post.data.title}
                                                        </span>
                                                    </a>
                                                    {/* <p class="opacity-[0.64] body-text">{post.data.description}</p> */}
                                                </div>
                                                {/* <p class="date shrink-0">
                                                    <FormattedDate date={post.data.pubDate} />
                                                </p> */}
                                            </div>
                                        </div>
                                    </li>
                                ))
                            }
                        </ol>
                    </div>
                </div>
            </section>
		</main>
        <PatternBanner fill="rgba(0, 0, 0, 0.8)" />
	</body>
</html>

<script>

    // import Typewriter from 'typewriter-effect/dist/core';
    import splt from 'spltjs';
    splt({});

    // var taglines = [
    //     'Leave it better than you found it',
    //     'Build better, build forward',
    //     'Elevate what you create',
    //     'Better by design',
    //     'Small steps, lasting impact',
    //     'Making good stuff gooder',
    //     'Making yesterday jealous of tomorrow'
    // ]

    // var app = document.querySelectorAll(".heading-tagline")[0];

    // var typewriter = new Typewriter(app, {
    //     loop: true,
    //     delay: 'natural',
    //     devMode: true
    // })

    // let index = 1;

    // startTyping(taglines[0]);

    // setInterval(() => {
    //     const randomTagline = taglines[index];
    //     startTyping(randomTagline);
    //     if (index <= taglines.length) {
    //         index = index + 1;
    //     }
    // }, 12000);

    // function startTyping(randomTagline) {
    //     typewriter
    //         .typeString(randomTagline)
    //         .pauseFor(6000)
    //         .start()
    //         .deleteAll()
    // }

</script>
