---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
// import Footer from '../components/Footer.astro';
import Pattern from '../components/Pattern.astro';
// import FormattedDate from '../components/FormattedDate.astro';
// import ArtistCard from '../components/ArtistCard.astro';
import InfoPanel from '../components/InfoPanel.astro';
// import { getReadingTime } from '../utils/utils.mjs';
import LatestCard from '../components/LatestCard.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import profileImage1 from '../../public/images/profile-image.png';
import profileImage2 from '../../public/images/kid-image.png';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_TAGLINE, CURRENT_COMPANY, CURRENT_POSITION } from '../consts';
import PatternBanner from '../components/Pattern-Banner.astro';


// const posts = (await getCollection('writing')).sort(
// 	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
// );

let posts = [];

if (import.meta.env.DEV && import.meta.env.DEV === "false") {
    posts = await getCollection("writing",
        ({ data }) => !data?.draft
    );
} else {
    posts = await getCollection("writing");
}

posts.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const random = Math.floor(Math.random() * posts.length);
const randomPost = posts[random];

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <div class="absolute left-[-612px] mx-auto top-[92px] opacity-[0.2] pointer-events-none">
                <Pattern></Pattern>
            </div>
            <div class="container grid pt-[32px] md:pt-[64px] pb-0 [--gutter:32px] md:[--gutter:3vh] [--grid-placement:4] md:[--grid-placement:12]" style="">
                <h1
                    class="heading-tagline col-span-full md:col-start-1 md:col-span-8 lg:col-span-7 md:row-start-1"
                    style="--max-width: 1260px"
                >
                    { SITE_TAGLINE }
                </h1>

                <div class="profile">
                    <div
                        class="profile__image-container"
                        x-data="{
                            active: Math.floor(Math.random() * 2),
                            images: $el.querySelectorAll('img'),
                        }"
                    >
                        <Image loading="eager" x-data="{ id: 0 }" x-show="id == active" class="profile__image" src={profileImage2} alt="A bird sitting on a nest of eggs." />
                        <Image loading="eager" x-data="{ id: 1 }" x-show="id == active" class="profile__image" src={profileImage1} alt="A bird sitting on a nest of eggs." />
                    </div>
                    <div class="navigation max-md:hidden">
                        <svg class="center" width="51" height="23" viewBox="0 0 51 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.56148 18.3687C1.58191 18.0201 1.71797 17.4579 1.94928 16.7747C2.18059 16.0892 2.50487 15.2751 2.89267 14.3878C3.66713 12.612 4.69444 10.5408 5.73991 8.57256C6.78538 6.60428 7.85015 4.73665 8.69604 3.37429C9.11787 2.69351 9.48747 2.13749 9.76075 1.7733C9.89454 1.5924 10.0091 1.4567 10.0681 1.39976C10.0942 1.37248 10.1111 1.36389 10.0669 1.3982C10.042 1.41537 10.0023 1.44501 9.90477 1.48868C9.85487 1.50974 9.79027 1.5347 9.69731 1.5581C9.60545 1.58071 9.483 1.60175 9.33331 1.60253C9.20632 1.60331 9.08837 1.58616 9.00105 1.56354C8.91262 1.54092 8.85252 1.51518 8.8117 1.49569C8.77203 1.47619 8.75047 1.46216 8.7414 1.45514C8.73117 1.44889 8.73234 1.44969 8.738 1.45594C8.76863 1.48478 8.87063 1.60957 8.97835 1.79049C9.19947 2.15543 9.4671 2.74421 9.74491 3.45853C10.3028 4.89183 10.914 6.84214 11.524 8.80418C12.1352 10.7685 12.7441 12.7445 13.3167 14.2714C13.6047 15.0372 13.8791 15.6869 14.1637 16.1999C14.31 16.4581 14.4518 16.6812 14.6479 16.8987C14.7488 17.0086 14.8622 17.1187 15.0425 17.2379C15.1332 17.2971 15.2432 17.3595 15.3861 17.4181C15.529 17.4758 15.7104 17.5304 15.9281 17.5592C16.1719 17.5927 16.4248 17.5896 16.6459 17.56C16.8693 17.5312 17.0598 17.4789 17.2151 17.4218C17.5269 17.3057 17.7129 17.1794 17.8478 17.0844C19.1632 16.1415 20.093 15.0247 20.8289 13.8558C21.5636 12.6853 22.1091 11.4563 22.6341 10.2523C23.1579 9.04902 23.6603 7.86995 24.2703 6.80783C24.8803 5.74493 25.5969 4.80448 26.5098 4.05041C25.5606 3.89364 24.6105 3.7369 23.6614 3.58094C23.6818 3.64801 23.7147 3.77901 23.7476 3.94668C23.7816 4.11434 23.8179 4.32176 23.8576 4.55804C23.9347 5.03061 24.0208 5.62096 24.1183 6.28224C24.3134 7.60483 24.5549 9.20968 24.8792 10.7701C25.0413 11.5507 25.2251 12.3211 25.4349 13.0448C25.6456 13.7685 25.8828 14.4439 26.1638 15.0473C26.4497 15.6518 26.7614 16.1796 27.2297 16.65C27.468 16.8831 27.7536 17.1093 28.1608 17.3003C28.3636 17.3948 28.5997 17.4782 28.8649 17.5351C29.1281 17.592 29.4193 17.62 29.7075 17.6122C29.72 17.6122 29.7313 17.6114 29.7438 17.6114C30.0407 17.6005 30.322 17.5545 30.5725 17.4899C30.8244 17.4236 31.0454 17.3392 31.2437 17.2465C31.6418 17.0602 31.9549 16.8418 32.2428 16.6046C32.8131 16.1305 33.2928 15.5668 33.7747 14.9257C34.7284 13.6492 35.6569 12.0614 36.6072 10.5416C37.0812 9.78283 37.5575 9.04358 38.0338 8.37996C38.5075 7.7171 38.9827 7.1299 39.4306 6.68542C39.6539 6.46395 39.8684 6.27833 40.0622 6.13717C40.2551 5.99524 40.4251 5.90011 40.5464 5.84787C40.6688 5.79405 40.7311 5.78394 40.753 5.77848C40.7768 5.77614 40.7731 5.76833 40.8436 5.78238C40.7391 5.75118 40.7005 5.72544 40.696 5.72232C40.696 5.72155 40.696 5.72153 40.6971 5.72153C40.6971 5.72153 40.6983 5.72231 40.6994 5.72309C40.7028 5.72464 40.7088 5.727 40.7144 5.7309C40.728 5.73947 40.7459 5.75196 40.77 5.76913C40.864 5.8393 41.0159 5.98201 41.1859 6.1754C41.5296 6.56375 41.9481 7.15329 42.3912 7.86215C43.0672 8.9422 43.8087 10.3046 44.5785 11.759C45.3486 13.2149 46.1422 14.766 46.8953 16.243C47.6493 17.7198 48.3602 19.122 48.9611 20.2839C49.5632 21.4458 50.052 22.3651 50.373 22.8839C50.5146 23.1122 51.0873 22.9727 50.9887 22.734C50.7745 22.2155 50.4591 21.2642 50.0724 20.0641C49.6859 18.863 49.2266 17.4109 48.7095 15.8802C48.1947 14.3501 47.621 12.7414 47.0109 11.2255C46.4021 9.70876 45.751 8.28715 45.1092 7.1112C44.6842 6.33526 44.268 5.66851 43.8314 5.12653C43.6115 4.85516 43.3891 4.61342 43.125 4.39351C42.9913 4.28355 42.8471 4.17829 42.6725 4.0777C42.4991 3.9771 42.2949 3.87961 42.0297 3.80319C41.5194 3.65269 40.9434 3.59187 40.4013 3.63242C39.8559 3.67141 39.3592 3.80239 38.9283 3.97474C38.4965 4.14863 38.1211 4.36387 37.7729 4.60327C37.4258 4.84425 37.1073 5.11097 36.801 5.40027C36.1921 5.97811 35.6354 6.64563 35.0979 7.36463C34.5627 8.08363 34.0501 8.85328 33.5535 9.62686C32.5626 11.1709 31.6293 12.7367 30.7802 13.8636C30.3606 14.4244 29.9546 14.8735 29.6508 15.1208C29.5032 15.2439 29.3831 15.3133 29.3491 15.3273C29.3445 15.3297 29.3423 15.3305 29.3411 15.3312C29.3423 15.3305 29.3411 15.3312 29.3434 15.3305C29.3468 15.3289 29.3581 15.325 29.3774 15.3203C29.4137 15.3102 29.4828 15.2969 29.5678 15.2946C29.5712 15.2946 29.5746 15.2938 29.578 15.2938C29.6766 15.2907 29.7846 15.3016 29.8684 15.3203C29.9534 15.3383 30.0146 15.3624 30.0464 15.3772C30.0622 15.3842 30.0724 15.3897 30.0758 15.392C30.0781 15.3936 30.0781 15.3936 30.0781 15.3936C30.0781 15.3936 30.0758 15.392 30.0724 15.3905C30.0611 15.3819 30.0339 15.3601 29.9965 15.3234C29.8435 15.1793 29.5927 14.8166 29.3717 14.3371C28.9147 13.37 28.5124 11.9367 28.1902 10.4379C27.8647 8.93676 27.6097 7.36071 27.3975 6.04282C27.2909 5.38388 27.1957 4.78889 27.1073 4.2937C27.0631 4.04573 27.0201 3.8227 26.977 3.62618C26.9339 3.42811 26.892 3.25888 26.841 3.0998C26.7682 2.87677 26.6118 2.69193 26.3987 2.54688C26.1865 2.40105 25.9156 2.29735 25.6241 2.25056C25.3328 2.203 25.0221 2.21315 24.7386 2.27786C24.454 2.34259 24.1932 2.46034 23.9925 2.63036C22.786 3.65346 21.956 4.81851 21.2938 6.01632C20.6339 7.21568 20.1406 8.45558 19.6474 9.65574C19.1564 10.8551 18.6653 12.0156 18.0474 13.0487C17.4305 14.0836 16.6901 14.985 15.724 15.7048C15.7217 15.7063 15.7206 15.7079 15.7206 15.7079C15.7194 15.7087 15.7206 15.7087 15.7195 15.7087C15.7206 15.7087 15.7252 15.7063 15.7331 15.7017C15.749 15.6931 15.7807 15.6767 15.8385 15.6549C15.8964 15.6346 15.9837 15.6089 16.0982 15.5941C16.2104 15.5793 16.3499 15.5777 16.4735 15.5957C16.6402 15.6175 16.7683 15.658 16.8579 15.6946C16.9475 15.7313 17.0031 15.764 17.0382 15.7882C17.0745 15.8116 17.0904 15.8264 17.0983 15.8326C17.0995 15.8342 17.1006 15.8359 17.1017 15.8367C17.1006 15.8359 17.0972 15.8334 17.0938 15.8295C17.0564 15.7952 16.9543 15.6619 16.8432 15.4733C16.6164 15.0935 16.3363 14.4914 16.0415 13.7669C15.4473 12.3141 14.7738 10.3576 14.0946 8.40414C13.4142 6.44836 12.727 4.49411 12.0875 3.00465C11.7655 2.25758 11.4605 1.63059 11.1464 1.14478C10.9865 0.8999 10.8312 0.691697 10.6146 0.492847C10.5035 0.393821 10.3765 0.293237 10.1792 0.194971C10.0805 0.145848 9.96262 0.0982639 9.81634 0.0608321C9.67232 0.0241798 9.49886 -0.000761659 9.31515 1.77633e-05C9.153 0.00157661 9.01808 0.0241605 8.91149 0.0499009C8.8049 0.0764208 8.72437 0.106838 8.65861 0.135677C8.52936 0.192613 8.4545 0.243315 8.39214 0.287761C8.27081 0.375894 8.19936 0.44842 8.12566 0.526401C7.98278 0.680025 7.85128 0.854694 7.69933 1.07071C7.40112 1.49961 7.04166 2.08369 6.63456 2.79175C5.8227 4.20713 4.82599 6.11067 3.85195 8.11872C2.87907 10.1267 1.92999 12.2369 1.21788 14.061C0.861847 14.9725 0.564773 15.8123 0.352726 16.5368C0.140679 17.2628 0.0114229 17.8657 8.95926e-05 18.3398C-0.0135132 18.9331 1.52635 18.9606 1.56148 18.3687Z" fill="black"/>
                        </svg>
                        <nav class="external-links" aria-label="External Site Links">
                            <a class="nav-link nav-link--small" href="https://github.com/withastro/astro" target="_blank">
                                <span class="">Email</span>
                            </a>
                            <a class="nav-link nav-link--small" href="https://m.webtoo.ls/@astro" target="_blank">
                                <span class="">Mastodon</span>
                            </a>
                            <a class="nav-link nav-link--small" href="https://twitter.com/astrodotbuild" target="_blank">
                                <span class="">LinkedIn</span>
                            </a>
                            <a class="nav-link nav-link--small" href="https://github.com/withastro/astro" target="_blank">
                                <span class="">Bluesky</span>
                            </a>
                        </nav>
                    </div>
                </div>
                <div class="profile__description center h3 lg:col-span-5 relative md:row-start-2 lg:row-start-2 lg:row-span-1">
                    {SITE_DESCRIPTION}
                </div>
            </div>
            <div class="container grid">
                <LatestCard />
            </div>
            <div class="container grid">
                <!-- <div class="bio__content standfirst">
                    <p>Working in design agencies and the private sector has given me a pretty good handle on user experience, and I've really learned to bake creativity into everything I do, it's just how I work. </p>
                    <p>You can check out my resume for the full story on my experience. Day-to-day, I'm a <span class="bg-black py-[0] leading-[1.75] inline-block text-white px-[8px]">{CURRENT_POSITION}</span> at <span class="bg-black py-[0] leading-[1.75] inline-block text-white px-[8px]">{CURRENT_COMPANY}</span>, and that means I get to dive into a whole range of different technologies and processes, which keeps things really interesting.</p>
                </div> -->
                <InfoPanel>
            </div>
            <!-- <section class="py-[80px]">
                <div class="container grid [--gutter:43px] [--grid-placement:1] md:[--grid-placement:12]">
                    <div class="col-span-full md:col-span-4 row-start-2 md:row-start-1">
                        <div class="flex flex-col gap-y-[24px] sticky top-[120px]">
                            <h3 class="h3">Can't decide?</h3>
                            <a
                                class="pb-[16px] pt-[18px] px-[24px] border w-fit hover:!no-underline hover:bg-black duration-300 ease-in-out transition-colors hover:text-white"
                                href={`/writing/${randomPost.id}/`}
                            >Click here for a Random Post</a>
                        </div>
                    </div>
                    <div class="col-span-full md:col-start-5 md:col-span-8 flex flex-col gap-y-[48px] row-start-1 md:row-start-1">
                        <div class="flex items-center justify-between">
                            <h2 class="h2">Latest Posts</h2>
                            <a class="relative" style="--delay: 0.5s" href="/writing">
                                View all
                            </a>
                        </div>
                        <div>
                            <ol class="flex flex-col gap-y-[32px]">
                                {
						            posts.slice(0,5).map((post, i) => (
                                    <li
                                        class=""
                                    >
                                            <div class="flex flex-col gap-y-[8px]">
                                                <div class="flex gap-x-[16px]">
                                                    <span>{getReadingTime(post.body)} min</span>
                                                </div>
                                                <div class="flex justify-between md:flex-col-reverse md:gap-[8px] lg:flex-row">

                                                    <div class="flex flex-col gap-y-[8px]">
                                                        <a class="text-[30px] tracking-[-0.02em] block" href={`/writing/${post.id}/`}>
                                                            <h4>{post.data.title}</h4>
                                                        </a>
                                                        <p class="opacity-[0.64] body-text">{post.data.description}</p>
                                                    </div>
                                                    <p class="date shrink-0">
                                                        <FormattedDate date={post.data.pubDate} />
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    ))
                                }
                            </ol>
                        </div>
                    </div>
                </div>
            </section> -->
		</main>
		<!-- <PatternBanner fill="rgba(0, 0, 0, 0.64)" /> -->
         <!-- <PatternBanner> -->
	</body>
</html>

<script>

    // import Typewriter from 'typewriter-effect/dist/core';
    import splt from 'spltjs';
    splt({});

    // var taglines = [
    //     'Leave it better than you found it',
    //     'Build better, build forward',
    //     'Elevate what you create',
    //     'Better by design',
    //     'Small steps, lasting impact',
    //     'Making good stuff gooder',
    //     'Making yesterday jealous of tomorrow'
    // ]

    // var app = document.querySelectorAll(".heading-tagline")[0];

    // var typewriter = new Typewriter(app, {
    //     loop: true,
    //     delay: 'natural',
    //     devMode: true
    // })

    // let index = 1;

    // startTyping(taglines[0]);

    // setInterval(() => {
    //     const randomTagline = taglines[index];
    //     startTyping(randomTagline);
    //     if (index <= taglines.length) {
    //         index = index + 1;
    //     }
    // }, 12000);

    // function startTyping(randomTagline) {
    //     typewriter
    //         .typeString(randomTagline)
    //         .pauseFor(6000)
    //         .start()
    //         .deleteAll()
    // }

</script>
