---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_TAGLINE } from '../consts';
import moment from "moment";

let artists = [];

const weekAgo = moment().subtract(4, 'weeks').unix();
const now = moment().unix();
const response = await fetch(`http://ws.audioscrobbler.com/2.0/?method=user.getWeeklyArtistChart&from=${weekAgo}&to=${now}&user=zerosandones217&api_key=86a5b41a85035739e32c576f027c4765&format=json`,
    {
        method: 'GET',
    },
)
.then((response) => response.json())
.then((responseJSON) => {
    artists = responseJSON.weeklyartistchart.artist;
});

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="bg-black text-white">
            <div class="" id="sectionPin">
                <div class="flex pl-[20px]">
                    <div class="flex flex-wrap gap-x-[50px]">
                        { artists.map((artist, i) => (
                                <div class="">
                                    <span class="text-[80px] w-fit break-words font-bold text-center tracking-[-0.04em] hover:scale-110 transition-all duration-300">{artist.name}</span>
                                </div>
                            )
                        )}
                    </div>
                </div>
            </div>
		</main>
		<Footer />
	</body>
</html>
