---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_TAGLINE } from '../consts';
import moment from "moment";

let artists = [];

const weekAgo = moment().subtract(1, 'weeks').unix();
const now = moment().unix();
const response = await fetch(`http://ws.audioscrobbler.com/2.0/?method=user.getWeeklyArtistChart&from=${weekAgo}&to=${now}&user=zerosandones217&api_key=86a5b41a85035739e32c576f027c4765&format=json`,
    {
        method: 'GET',
    },
)
.then((response) => response.json())
.then((responseJSON) => {
    artists = responseJSON.weeklyartistchart.artist;
});

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <div class="" id="sectionPin">
                <div class="pin-wrap-sticky overflow-hidden">
                    <div class="pin-wrap pin-wrap--left !pt-[25vh]">
                        { artists.map((artist, i) =>
                            i < 7 && (
                                <div class="pin-wrap__container">
                                    <span class="text-[80px] w-fit text-center tracking-[-0.04em]">{artist.name}</span>
                                </div>
                            )
                        )}
                    </div>
                    <div class="pin-wrap pin-wrap--right">
                        { artists.map((artist, i) =>
                            i > 6 && i < 14 && (
                                <div class="pin-wrap__container">
                                    <span class="text-[80px] w-fit text-center tracking-[-0.04em]">{artist.name}</span>
                                </div>
                            )
                        )}
                        { artists.map((artist, i) =>
                            i > 6 && i < 14 && (
                                <div class="pin-wrap__container">
                                    <span class="text-[80px] w-fit text-center tracking-[-0.04em]">{artist.name}</span>
                                </div>
                            )
                        )}
                    </div>
                    <div class="pin-wrap pin-wrap--left">
                        { artists.map((artist, i) =>
                            i > 13 && i < 21 && (
                                <div class="pin-wrap__container">
                                    <span class="text-[80px] w-fit text-center tracking-[-0.04em]">{artist.name}</span>
                                </div>
                            )
                        )}
                    </div>
                </div>
            </div>
		</main>
		<Footer />
	</body>
</html>
