---
export interface Props {
    artist: {
        name: string;
        playcount?: string;
        info?: {
            image?: Array<{
                '#text': string;
            }>;
            stats?: {
                userplaycount?: string;
            };
        };
    };
    index: number;
    isNowPlaying?: boolean;
    trackColor?: string;
}

const { artist, isNowPlaying = false, trackColor = '#000000', index } = Astro.props;

function hashStringToHsl(input: string): string {
    let hash = 0;
    for (let i = 0; i < input.length; i++) {
        hash = input.charCodeAt(i) + ((hash << 5) - hash);
        hash = hash & hash;
    }
    const hue = Math.abs(hash) % 360;
    const saturation = 65; // percent
    const lightness = 40; // percent
    return `hsl(${hue}, ${saturation}%, ${lightness}%)`;
}

const fallbackColor = hashStringToHsl(artist.name);
---

    <!-- <div class="music-card">
        <div class="music-card__image">
            {artist.info?.image && artist.info.image[4] && (
                <img
                    src={artist.info.image[4]['#text']}
                    alt={`${artist.name} artist image`}
                    class="w-full h-fit aspect-square object-cover mb-2"
                    loading="lazy"
                />
            )}
            {isNowPlaying && (
                <div class="now-playing-indicator">
                    <div class="now-playing-dot"></div>
                    <div class="now-playing-dot"></div>
                    <div class="now-playing-dot"></div>
                </div>
            )}
        </div>
        <div class="music-card__content">
            <span class="music-card__title">{artist.name}</span>
        </div>
    </div> -->
<div class="flex flex-col gap-[3px] flex-1 pb-[8px] relative artist-card music-card" style={`--track-color: ${fallbackColor}`}>
    <div class="flex justify-between items-baseline gap-[8px] relative">
        {artist.info?.image && artist.info.image[4] && (
            <img
                src={artist.info.image[4]['#text']}
                alt={`${artist.name} artist image`}
                class="sr-only"
                loading="lazy"
            />
        )}
        <span class="justify-self-end">{index + 1}</span>
        {artist.playcount && (
            <span class="opacity-70">
                {Number(artist.playcount).toLocaleString()} plays
            </span>
        )}
    </div>
    <span class="standfirst relative">{artist.name}</span>
</div>

<style>
    .artist-card {
        --color: color-mix(in srgb, var(--track-color) 95%, var(--color-light));
        padding: 8px;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            block-size: 4px;
            inline-size: 100%;
            background-image: linear-gradient(in oklch 45deg, var(--color) 0.0%, var(--color-light) 100.0%);
        }
    }
</style>
