---
import FormattedDate from "../components/FormattedDate.astro";

const { title, author, rating, cover, started, finished, status, showStrikethrough } =
  Astro.props;
---

<li
	class="col-span-2 group post-item"
	@mouseenter={`floatingCover.show = true; floatingCover.src = ${JSON.stringify(cover)}; floatingCover.title = ${JSON.stringify(title)}`}
	@mouseleave="floatingCover.show = false; floatingCover.src = ''; floatingCover.title = ''"
>
	<div class="post [--block-space:var(--space-s)]">
		<div class="flex max-md:flex-col-reverse justify-between md:items-center">
			<div class={`${finished !== "unknown" && showStrikethrough ? "line-through" : ""}`}>
				<span>{title}</span>
				{author && <span class="opacity-[0.85]">by {author}</span>}
			</div>
			<div class="flex flex-row gap-x-[8px] items-center">
				{started != finished &&
					started !== "unknown" &&
					finished !== "unknown" && (
						// <p>{new Date(book.started)}</p>
						<span class="text-[16px] max-md:hidden">
							Started:{" "}
							<FormattedDate date={new Date(started)} />
						</span>
						<span class="text-[16px] pt-[2px] max-md:hidden">
					Finished:{" "}
					{finished !== "unknown" ? (
						<FormattedDate date={new Date(finished)} />
					) : (
						"Unknown date"
					)}
						</span>
				)}
				{status === "IS_READING" && (
					<span class="px-[8px] pt-[2px] bg-[var(--color-dark)] text-white max-md:mb-[var(--space-s)]">
						Currently Reading
					</span>
				)}
				{rating && <span class="text-[16px] pt-[2px]">Rating: {rating}/5</span>}
			</div>
		</div>
	</div>
</li>
