---
import FormattedDate from "../components/FormattedDate.astro";

const { posts } = Astro.props;
const evergreen = posts.filter((post: any) => post.data.growth === "evergreen");
const growing = posts.filter((post: any) => post.data.growth === "growing");
const seedling = posts.filter((post: any) => post.data.growth === "seedling");
---

<div class="growth-panel container flow">
	<h2 class="sr-only">My Digital Garden</h2>
	<div
		class="growth-panel__content flex flex-col justify-center gap-[32px] md:gap-[32px]"
	>
		<div class="flex flex-col gap-[32px] md:gap-[64px]">
			<div class="growth-panel__item flow flex flex-col" style="--flow-space: var(--space-l);">
				<div class="contents md:flex justify-between gap-[var(--space-s)]">
					<div class="flex flex-col justify-between gap-[var(--space-s)] max-w-[520px]">
						<h3
							class="h3 gradient-text"
							style="background-image: var(--color-gradient);"
						>
							Evergreen (Stable Knowledge)
						</h3>
						<div class="body">
							Fully vetted, production-ready guides. These features are stable
							across major browsers and are safe to implement in production today.
						</div>
					</div>
					<a class="h-fit md:w-fit py-[6px] px-[12px] border mt-auto hover:bg-black hover:text-white max-md:order-2 max-md:mt-[var(--space-m)] max-md:mx-[-16px]" href={`/writing?growth=evergreen`}>See all evergreen posts</a>
				</div>
				<ol class="post-list max-md:mx-[-16px] mt-[var(--space-m)]">
					{
						evergreen.slice(0, 5).map((post: any) => (
							<li
								class="post-item"
								x-data="{ direction: 'top', exitDirection: 'top', isHovered: false }"
								@mouseenter="
									const rect = $el.getBoundingClientRect();
									const y = event.clientY - rect.top;
									const height = rect.height;
									direction = y < height / 2 ? 'top' : 'bottom';
									isHovered = true;
								"
								@mouseleave="
									const rect = $el.getBoundingClientRect();
									const y = event.clientY - rect.top;
									const height = rect.height;
									exitDirection = y < height / 2 ? 'top' : 'bottom';
									isHovered = false;
								"
							>
								<div
									class="post [--block-space:var(--space-s)]"
									x-bind:class="{
										'post--hover-top': isHovered && direction === 'top',
										'post--hover-bottom': isHovered && direction === 'bottom',
										'post--exit-top': !isHovered && exitDirection === 'top',
										'post--exit-bottom': !isHovered && exitDirection === 'bottom'
									}"
								>
									<div class="flex max-md:flex-col-reverse justify-between md:items-center">
											<a
												class="block box-link opacity-[0.85] shrink-0 md:max-w-[65%]"
												href={`/writing/${post.id}/`}
											>
												<h4 class="standfirst">{post.data.title}</h4>
											</a>
											<div class="flex gap-x-[16px] gap-y-[var(--space-m)] transition-opacity duration-300 flex-wrap">
												<!-- <ul class="cluster [--gutter:var(--space-s)] md:ml-auto">
													{post.data.tags.map((tag) => (
														<li>
															<span class="border py-1 px-4 min-w-fit">{tag}</span>
														</li>
													))}
												</ul> -->
												<div class="flex gap-x-[var(--space-m)]">
													<!-- <span class="w-fit md:w-auto">
														{getReadingTime(post.body)} min
													</span> -->
													<span class="w-fit md:w-auto italic">
														<FormattedDate date={post.data.pubDate} />
													</span>
												</div>
											<!-- </div> -->
											<!-- <p class="opacity-[0.85] body-text">
												{post.data.description}
											</p> -->
										</div>
									</div>
								</div>
							</li>
						))
					}
				</ol>
			</div>
			<div class="growth-panel__item flow flex flex-col" style="--flow-space: var(--space-l);">
				<div class="contents md:flex justify-between gap-[var(--space-s)]">
					<div class="flex flex-col justify-between gap-[var(--space-s)] max-w-[520px]">
						<h3
							class="h3 gradient-text"
							style="background-image: var(--color-gradient);"
						>
							Growing (Under Active Cultivation)
						</h3>
						<div class="body">
							Working drafts and stable concepts that are ready for early adoption.
							Code samples have been tested but are subject to minor changes as
							specs finalize.
						</div>
					</div>
					<a class="h-fit md:w-fit py-[6px] px-[12px] border mt-auto hover:bg-black hover:text-white max-md:order-2 max-md:mt-[var(--space-m)] max-md:mx-[-16px]" href={`/writing?growth=growing`}>See all growing posts</a>
				</div>
				<ol class="post-list max-md:mx-[-16px] mt-[var(--space-m)]">
					{
						growing.slice(0, 5).map((post: any) => (
							<li
								class="post-item"
								x-data="{ direction: 'top', exitDirection: 'top', isHovered: false }"
								@mouseenter="
									const rect = $el.getBoundingClientRect();
									const y = event.clientY - rect.top;
									const height = rect.height;
									direction = y < height / 2 ? 'top' : 'bottom';
									isHovered = true;
								"
								@mouseleave="
									const rect = $el.getBoundingClientRect();
									const y = event.clientY - rect.top;
									const height = rect.height;
									exitDirection = y < height / 2 ? 'top' : 'bottom';
									isHovered = false;
								"
							>
								<div
									class="post [--block-space:var(--space-s)]"
									x-bind:class="{
										'post--hover-top': isHovered && direction === 'top',
										'post--hover-bottom': isHovered && direction === 'bottom',
										'post--exit-top': !isHovered && exitDirection === 'top',
										'post--exit-bottom': !isHovered && exitDirection === 'bottom'
									}"
								>
									<div class="flex max-md:flex-col-reverse justify-between md:items-center">
											<a
												class="block box-link opacity-[0.85] shrink-0 md:max-w-[65%]"
												href={`/writing/${post.id}/`}
											>
												<h4 class="standfirst">{post.data.title}</h4>
											</a>
											<div class="flex gap-x-[16px] gap-y-[var(--space-m)] transition-opacity duration-300 flex-wrap">
												<!-- <ul class="cluster [--gutter:var(--space-s)] md:ml-auto">
													{post.data.tags.map((tag) => (
														<li>
															<span class="border py-1 px-4 min-w-fit">{tag}</span>
														</li>
													))}
												</ul> -->
												<div class="flex gap-x-[var(--space-m)]">
													<!-- <span class="w-fit md:w-auto">
														{getReadingTime(post.body)} min
													</span> -->
													<span class="w-fit md:w-auto italic">
														<FormattedDate date={post.data.pubDate} />
													</span>
												</div>
											<!-- </div> -->
											<!-- <p class="opacity-[0.85] body-text">
												{post.data.description}
											</p> -->
										</div>
									</div>
								</div>
							</li>
						))
					}
				</ol>
			</div>
			<div class="growth-panel__item flow flex flex-col" style="--flow-space: var(--space-l);">
				<div class="contents md:flex justify-between gap-[var(--space-s)]">
					<div class="flex flex-col justify-between gap-[var(--space-s)] max-w-[520px]">
						<h3
							class="h3 gradient-text"
							style="background-image: var(--color-gradient);"
						>
							Seedlings (Future Research)
						</h3>
						<div class="body">
							Ideas on the edge of the specification. Highly experimental, rough code,
							and often dependent on browser flags.
						</div>
					</div>
					<a class="h-fit md:w-fit py-[6px] px-[12px] border mt-auto hover:bg-black hover:text-white max-md:order-2 max-md:mt-[var(--space-m)] max-md:mx-[-16px]" href={`/writing?growth=seedling`}>See all seedling posts</a>
				</div>
				<ol class="post-list max-md:mx-[-16px] mt-[var(--space-m)]">
					{
						seedling.slice(0, 5).map((post: any) => (
							<li
								class="post-item"
								x-data="{ direction: 'top', exitDirection: 'top', isHovered: false }"
								@mouseenter="
									const rect = $el.getBoundingClientRect();
									const y = event.clientY - rect.top;
									const height = rect.height;
									direction = y < height / 2 ? 'top' : 'bottom';
									isHovered = true;
								"
								@mouseleave="
									const rect = $el.getBoundingClientRect();
									const y = event.clientY - rect.top;
									const height = rect.height;
									exitDirection = y < height / 2 ? 'top' : 'bottom';
									isHovered = false;
								"
							>
								<div
									class="post [--block-space:var(--space-s)]"
									x-bind:class="{
										'post--hover-top': isHovered && direction === 'top',
										'post--hover-bottom': isHovered && direction === 'bottom',
										'post--exit-top': !isHovered && exitDirection === 'top',
										'post--exit-bottom': !isHovered && exitDirection === 'bottom'
									}"
								>
									<div class="flex max-md:flex-col-reverse justify-between md:items-center">
											<a
												class="block box-link opacity-[0.85] shrink-0 md:max-w-[65%]"
												href={`/writing/${post.id}/`}
											>
												<h4 class="standfirst">{post.data.title}</h4>
											</a>
											<div class="flex gap-x-[16px] gap-y-[var(--space-m)] transition-opacity duration-300 flex-wrap">
												<!-- <ul class="cluster [--gutter:var(--space-s)] md:ml-auto">
													{post.data.tags.map((tag) => (
														<li>
															<span class="border py-1 px-4 min-w-fit">{tag}</span>
														</li>
													))}
												</ul> -->
												<div class="flex gap-x-[var(--space-m)]">
													<!-- <span class="w-fit md:w-auto">
														{getReadingTime(post.body)} min
													</span> -->
													<span class="w-fit md:w-auto italic">
														<FormattedDate date={post.data.pubDate} />
													</span>
												</div>
											<!-- </div> -->
											<!-- <p class="opacity-[0.85] body-text">
												{post.data.description}
											</p> -->
										</div>
									</div>
								</div>
							</li>
						))
					}
				</ol>
			</div>
		</div>
	</div>
</div>
