---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PatternBanner from '../components/Pattern-Banner.astro';
import FormattedDate from '../components/FormattedDate.astro';
import {generateCategoryData} from '../utils/utils.mjs';
import TableOfContents from '../components/TableOfContents.astro';
import DefaultHero from '../components/DefaultHero.astro';
import Tags from '../components/Tags.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, tags, headings, timeToRead } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main class="relative overflow-clip pb-[64px]">
			<article>
                <DefaultHero title={title} description={description} />
                <PatternBanner />
				<div class="container prose flex flex-col md:grid pt-[32px] md:pt-[64px] gap-[43px]" style="--grid-placement: 12; --gutter: 43px;">
                    <div class="post-details col-start-1 col-span-full md:col-span-2 h-fit md:sticky top-[120px] flow p-[16px] border border-solid w-full md:w-fit tracking-[-0.02em]" style="--flow-space: 16px;">
                        <span class="block">Duration: {timeToRead}min{timeToRead > 1 && 's'}</span>
                        <span class="block">Published: <FormattedDate date={new Date(pubDate)} /></span>
                        <div class="flex gap-x-[8px] topics">
                            <span>Topics: </span>
                            <Tags tags={tags} />
                        </div>
                        <TableOfContents headings={headings} />
                    </div>
                    <div class="content col-span-full md:col-start-3 md:col-span-8 flex flex-col gap-y-[24px] overflow-auto">
                        <!-- <div class="text-[32px] leading-[130%]">{description}</div> -->
                        <slot />
                    </div>
				</div>
			</article>
		</main>
		<PatternBanner fill="rgba(0, 0, 0, 0.64)" />
	</body>
</html>
