---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PatternBanner from '../components/Pattern-Banner.astro';
import FormattedDate from '../components/FormattedDate.astro';
import {generateCategoryData} from '../utils/utils.mjs';
import TableOfContents from '../components/TableOfContents.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, tags, headings, timeToRead } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main class="relative overflow-clip pb-[64px]">
			<article>
                <header class="!relative pt-[130px] md:pt-[92px] !pb-[56px]">
                    <div class="container">
                        <h1 class="h1 md:max-w-[1024px]">{title}</h1>
                    </div>
                </header>
                <PatternBanner />
				<div class="container prose flex flex-col md:grid pt-[32px] md:pt-[64px] gap-[43px]" style="--grid-placement: 12; --gutter: 43px;">
                    <div class="col-start-1 col-span-full md:col-span-2 h-fit md:sticky top-[120px] flex flex-col gap-y-[16px] p-[16px] border w-full md:w-fit tracking-[-0.02em]">
                        <span>Duration: {timeToRead}min{timeToRead > 1 && 's'}</span>
                        <span>Published: <FormattedDate date={new Date(pubDate)} /></span>
                        <div class="flex gap-x-[8px] topics">
                            <span>Topics: </span>
                            <ul class="tags flex flex-wrap topics__list">
                                {tags.map((tag, i) =>
                                <li>
                                    {i != 0 && '/'}{tag}
                                </li>
                                )}
                            </ul>
                        </div>
                        <TableOfContents headings={headings} />
                    </div>
                    <div class="content col-span-full md:col-start-3 md:col-span-8 flex flex-col gap-y-[24px]">
                        <div class="text-[32px] leading-[130%]">{description}</div>
                        <slot />
                    </div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
