---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PatternBanner from '../components/Pattern-Banner.astro';
import FormattedDate from '../components/FormattedDate.astro';
import {generateCategoryData} from '../utils/utils.mjs';
import TableOfContents from '../components/TableOfContents.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, tags, headings, timeToRead } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main class="relative overflow-clip pb-[64px]">
			<article>
                <header class="!relative !pt-[64px] !pb-[56px]">
                    <div class="container flex flex-col gap-y-[16px]">
                        <h1 class="h1">{title}</h1>
                        <h2 class="h4">{description}</h2>
                    </div>
                </header>
                <PatternBanner fill="white" />
				<div class="container pt-[32px] md:pt-[64px]" style="--grid-placement: 12; --gutter: 43px;">
                    <slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
