---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import PatternBanner from '../../components/Pattern-Banner.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { getReadingTime } from '../../utils/utils.mjs';
import DefaultHero from '../../components/DefaultHero.astro';


let posts = [];

if (import.meta.env.DEV && import.meta.env.DEV === "false") {
    posts = await getCollection("writing",
        ({ data }) => !data?.draft
    );
} else {
    posts = await getCollection("writing",
        ({ data }) => data?.draft
    );
}

posts.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

// Extract all unique tags from posts
const allTags = posts.flatMap(post => post.data.tags);
const categories = [...new Set(allTags)].sort();
const postLength = posts.length;

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <DefaultHero title="Writing" description={`I write about technologies that I'm currently diving into, my development on this site, setups and goals. In these ${postLength} posts, I go through problems, solutions and how I am - infact - not Batman.`} />
            <PatternBanner />
			<section class="container">
                <div class="category-filters cluster" style="--gutter: 8px; --cluster-horizontal-alignment: flex-end">
                    <span
                        class="category-filter active"
                        data-category=""
                    >
                        All
                    </span>
                    {categories.map((category) => (
                        <span
                            class="category-filter border border-solid py-1 px-4 cursor-pointer hover:bg-black hover:text-white transition-colors min-w-fit"
                            data-category={category}
                        >
                            {category}
                        </span>
                    ))}
                </div>
                <ol class="!pt-[64px] !pb-[56px] post-list flow" style="--flow-space: 32px;">
                    {
                        posts.map((post) => (
                        <li
                            class="post-item"
                            data-tags={JSON.stringify(post.data.tags)}
                        >
                            <div class="post">
                                <div class="flex gap-x-[16px] transition-opacity duration-300 mb-[4px]">
                                    <ul class="flex gap-x-[8px]">
                                        {post.data.tags.map((tag) => (
                                            <li>
                                                <span class="border py-1 px-4">{tag}</span></li>
                                        ))}
                                    </ul>
                                    <span>{getReadingTime(post.body)} min</span>
                                    <FormattedDate date={post.data.pubDate} />
                                </div>
                                <div class="flex justify-between">
                                    <div class="flow" style="--flow-space: var(--space-s)">
                                        <a class="h2 block mb-[4px] box-link" href={`/writing/${post.id}/`}>
                                            <h4>{post.data.title}</h4>
                                        </a>
                                        <p class="opacity-[0.85] body-text">{post.data.description}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        ))
                    }
                </ol>
			</section>
		</main>
		<PatternBanner fill="rgba(0, 0, 0, 0.64)" />
	</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const categoryFilters = document.querySelectorAll('.category-filter');
        const postItems = document.querySelectorAll('.post-item');

        categoryFilters.forEach(filter => {
            filter.addEventListener('click', function() {
                const selectedCategory = this.getAttribute('data-category');

                let firstVisible = true;
                postItems.forEach(post => {
                    const tagsAttr = post.getAttribute('data-tags');
                    const postTags = tagsAttr ? JSON.parse(tagsAttr) : [];

                    if (selectedCategory === '' || postTags.includes(selectedCategory)) {
                        post.style.display = 'flex';
                        if (firstVisible) {
                            const postElement = post.querySelector('.post');
                        }
                    } else {
                        post.style.display = 'none';
                    }
                });
            });
        });
    });
</script>

<style>
    .post-item.opacity-100:first-of-type {
        opacity: 1 !important;
    }

    .category-filter.active {
        background-color: black;
        color: white;
    }
</style>
