---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { getReadingTime } from '../../utils/utils.mjs';

const posts = (await getCollection('writing')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section class="container pt-[125px]">
                <ol class="flex flex-col gap-y-[32px]">
                    {
                        posts.map((post) => (
                        <li>
                                <div class="flex flex-col gap-y-[8px]">
                                    <div class="flex gap-x-[16px]">
                                        <span>{getReadingTime(post.body)} min</span>
                                    </div>
                                    <div class="flex justify-between">

                                        <div class="flex flex-col gap-y-[8px]">
                                            <a class="text-[20px] tracking-[-0.02em] block mb-[4px]" href={`/writing/${post.id}/`}>
                                                <h4>{post.data.title}</h4>
                                            </a>
                                            <p class="opacity-[0.64] body-text">{post.data.description}</p>
                                        </div>
                                        <p class="date shrink-0">
                                            <FormattedDate date={post.data.pubDate} />
                                        </p>
                                    </div>
                                </div>
                            </li>
                        ))
                    }
                </ol>
			</section>
		</main>
		<Footer />
	</body>
</html>
