---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import PatternBanner from '../../components/Pattern-Banner.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { getReadingTime } from '../../utils/utils.mjs';


let posts = [];

if (import.meta.env.DEV && import.meta.env.DEV === "false") {
    console.log('DEV');
    posts = await getCollection("writing",
        ({ data }) => !data?.draft
    );
} else {
    posts = await getCollection("writing");
}

posts.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="relative overflow-clip pb-[64px]">
            <header class="!relative pt-[130px] md:pt-[92px] !pb-[56px]">
                <div class="container">
                    <h1 class="h1 md:max-w-[1024px]">Writing</h1>
                </div>
            </header>
            <PatternBanner />
			<section class="container" style="--container-width: 1024px">
                <ol class="flex flex-col gap-y-[32px] !pt-[64px] !pb-[56px]">
                    {
                        posts.map((post) => (
                        <li style="`--delay: {i * 0.25}s`">
                                <div class="flex flex-col gap-y-[8px]">
                                    <div class="flex gap-x-[16px]">
                                        <span>{getReadingTime(post.body)} min</span>
                                        <span>{getReadingTime(post.body)} min</span>
                                    </div>
                                    <div class="flex justify-between">

                                        <div class="flex flex-col gap-y-[8px]">
                                            <a class="text-[20px] tracking-[-0.02em] block mb-[4px]" href={`/writing/${post.id}/`}>
                                                <h4>{post.data.title}</h4>
                                            </a>
                                            <p class="opacity-[0.64] body-text">{post.data.description}</p>
                                        </div>
                                        <p class="date shrink-0">
                                            <FormattedDate date={post.data.pubDate} />
                                        </p>
                                    </div>
                                </div>
                            </li>
                        ))
                    }
                </ol>
			</section>
		</main>
		<Footer />
	</body>
</html>

<script>

    import { runOnce } from '@bramus/sda-utilities';

    // Run the “fade-in” scroll-driven animation on the `#hero` element only once.
    document.querySelectorAll(".reveal--fade-in").forEach(($el) => {
        runOnce($el, "fadeIn");
    });

</script>
